body {
  margin: .1%;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  padding-left: 1%;
  padding-right: 1%;
}

code {
    font-family: 'Fira Code', monospace;
}

.table-responsive {
 max-height: 400px;
}

td{
  padding: 3px;
}


.row{
  margin-top: 12px;
}