body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'archia',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  whitesmoke
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-control {
  width: 50% !important;
}